@import '~@angular/material/theming';
@include mat-core();
@import 'pallete';

$my-app-primary: mat-palette($md-will, P100);
$my-app-accent:  mat-palette($md-will, S100);
$my-app-warn:    mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif',
  $headline: mat-typography-level(28px, 32px, 600),
);
@include mat-core($custom-typography);

.mat-button, .mat-flat-button{
  border-radius: 30px !important;
  .mat-button-wrapper{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    color: #332B00;
  }
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: black !important;
}
