<h1 mat-dialog-title class="d-flex align-items-center">
  <mat-icon *ngIf="iconTitle">{{iconTitle}}</mat-icon>
  {{data.title}}
</h1>
<div mat-dialog-content>
  <mat-card-content class="full-width">
    <mat-icon *ngIf="iconDesc">{{iconDesc}}</mat-icon>
    <div [innerHTML]="data.message"></div>
  </mat-card-content>
</div>

<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" [mat-dialog-close]="false">{{textButtonOk}}</button>
  <button *ngIf="isConfirm" mat-flat-button color="primary" [mat-dialog-close]="true">
    CONFIRMAR
  </button>
</div>
