<div [formGroup]="addressForm">
  <div fxLayout="column" class="step4-form" fxLayoutGap="24px">
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>CEP</mat-label>
        <input
        #zipcode
        matInput
        mask="00000-000"
        (blur)="getAddresByZipcode()"
        formControlName="zipcode"/>
        <mat-error *ngIf="f.zipcode.errors?.required">
        O CEP é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Rua</mat-label>
        <input matInput formControlName="street" id="street">
        <mat-error *ngIf="f.street.errors?.required">
        A rua é obrigatória
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayout.lt-md="column">
      <div fxFlex="30">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" id="number">
          <mat-error *ngIf="f.number.errors?.required">
          O número é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="70">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement" id="complement">
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="neighborhood" id="neighborhood">
        <mat-error *ngIf="f.neighborhood.errors?.required">
        O bairro é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Cidade e Estado</mat-label>
        <input matInput formControlName="cityAndState" id="cityAndState">
        <mat-error *ngIf="f.cityAndState.errors?.required">
        A cidade e o estado são obrigatórios
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ponto de Referência</mat-label>
        <input matInput formControlName="landmark" id="landmark">
      </mat-form-field>
    </div>
  </div>
</div>
