<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Carregando... </p>
</ngx-spinner>
<div class="main-app">
  <router-outlet></router-outlet>
</div>
