@import '~@angular/material/theming';
@import './assets/scss/theme.scss';
@import './assets/scss/variables.scss';

html, body { height: 100%; };
body { margin: 0; color: $primary-font-color };

.w-100 {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

h1 {
  color: $primary-font-color !important;
}
